body {background-color:lightblue}
.toptoolbar {
    background-color:lightgoldenrodyellow;
    overflow: hidden;
  }
  
  .toptoolbar a {
    float: left;
    color:black;
    text-align: center;
    padding: 12px 14px;
    font-size: 35px;
  }
  
   .toptoolbar a:hover {
    background-color: #ddd;
    color:black;
  }
  
  .toptoolbar a.active {
    background-color:white;
    color:black;
  } 